<div class="text-center">
    <img src="https://lslucas.blob.core.windows.net/data/alura-fiap-maior-ecossistema-educacao-tech-brasil.jpg" />
    <p>Pós-Tech Alura+FIAP.</p>

    <p>Para começar, visite a página de <a asp-controller="Cliente" asp-action="Index">cadastro de clientes</a>.</p>
</div>
