<h1>@ViewData["Title"]</h1>

<p align="center">
    Olá! Sou o Lucas Serafim, aluno do curso de pós-tech da Alura+FIAP<br/>
    <b>RM:</b> rm350556
    <p align="center"><img src="https://placehold.co/600x400" alt="my face"/></p>
</p>
